<form asp-action="CreateChat" asp-controller="ChatGPT">
    <div class="input-group mb-3">

        <input type="text" class="form-control" placeholder="Escribe una consulta" aria-label="Recipient's chat" aria-describedby="button-addon" id="text" name="text">
        <button type="submit" class="btn btn-secondary" id="button-addon">Consultar</button>

    </div>
</form>